input {
  border: None;

}

input[type=text] {
  border-bottom: 1px solid #222326;
}

input[type=submit] {
	background-color: #F7B154;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
  font-weight: bold;
	font-size:19px;
	padding:10px 26px;
}

input[type=submit]:hover {
	background-color: white;
}

input[type=submit]:active {
	position:relative;
	top:1px;
}

#form_message {

}
