input {
  border: None;

}

form p {
    font-size: 20px;
    font-weight: bold;
}

input[type=text] {
  font-size: 20px;
  font-style: italic;
  /*border-bottom: 1px solid #222326;*/
  font-family: 'Sen', sans-serif;
}

input[type=submit] {
	background-color: #F7B154;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
  font-weight: bold;
	font-size:20px;
	padding:10px 26px;
}

input[type=submit]:hover {
	background-color: white;
}

input[type=submit]:active {
	position:relative;
	top:1px;
}
