<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='styles/mainlook.css')}}">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='styles/formstyles.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  {% block head %}
  <title>Rehoboam Webhook</title>
  {% endblock %}
</head>
<body>
  <div class="content">
    <div class="header">
      {% block header %}
      <a href="/summoner_status"> Summoner Status </a>
      {% endblock %}
    </div>
    <div class="page_content">
      <div class="left_content">
        {% block left_content %}
        {% endblock %}
      </div>
      <div class="middle_content">
        {% block middle_content %}
        <div class="content_card">
          <h1>Ping discord chat</h1>
          <form action="/send_message" method="POST">
            <table>
              <tr><td> <p>Name</p></td><td><input type="text" name="username"/></td></tr>
              <tr><td> <p>Message</p></td><td><input type="text" name="content" id="form_message"/></td></tr>
              <tr>
                <td colspan="2"><p><input type="submit" value="Ping"></p></td>
              </tr>
            </table>
          </form>
        </div>
        {% endblock %}
      </div>

      <div class="right_content">
        {% block right_content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
