{% extends "layouts/main_layout.html" %}

{% block head %}
<title>Rehoboam Webhook</title>
{% endblock %}

{% block middle_content %}
<div class="content_card">
    <h1>Ping discord chat</h1>
    <form action="/send_message" method="POST">
        <table>
            <tr>
                <td><p>Name: </p></td>
                <td><input type="text" placeholder="TestBot1" name="username"></td>
            </tr>
            <tr>
                <td><p>Message: </p></td>
                <td><input type="text" value="Ping" name="content" readonly></td>
            </tr>
            <tr>
                <td colspan="2"><p><input type="submit" value="Ping"></p></td>
            </tr>
        </table>
    </form>
</div>
<div class="content_card">
    <h1>Write message to discord chat</h1>
    <form action="/send_message" method="POST">
        <table>
            <tr>
                <td><p>Name: </p></td>
                <td><input type="text" placeholder="TestBot1" name="username"></td>
            </tr>
            <tr>
                <td><p>Message: </p></td>
                <td><input type="text" placeholder="BipBop" name="content"></td>
            </tr>
            <tr>
                <td colspan="2"><p><input type="submit" value="Ping"></p></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}